body { padding-top:90px;}

.clear { clear:both; display:block;  }
.panel { background-color:#f5f5f5; border: 1px solid #e3e3e3; }
.login-box { }
.bg-white { background-color:#ffffff;}
.margin-20 { margin:20px; }
.bm-20 { margin-bottom:20px; }
.tp-20 { padding-top:20px;}
.button-row {margin:0 0 20px 0; }
li.admin { background-color:#df1e36; }
li.admin > a { color:#fff!important; }
li.admin > a:hover, li.admin a:focus { background-color:#c91b31!important;}
.standard-user { }
.evernote { color:#6fb438;}
.add-note { display:none;}
.bg-success { background-color:#fff; color:#c91b31; font-weight:bold; border-radius:6px; margin-top:20px;}


h3 { color:#df1e36; border-bottom:1px dotted #e1e1e1; }

.padded { padding:15px; }

@media (min-width:950px){
	.navbar-nav li.nav-item > a:hover { border-top: 3px solid #df1e36; line-height:17px; }
}

@media (max-width:1235px){
	.userCheckbox { margin:5px auto; display:block; }
}

@media (max-width:768px){
	li.pipe { display:none;}
	.statusText { display:block;}
}

.hr {
	border-bottom:1px dotted #e1e1e1;
}
.notes {
	background-color:#f5f5f5;
	margin: 10px auto 0 auto;
	padding:14px;
	border-radius:5px;
}

.fullwidth {
	width:100%;
}

.top-pad {
	padding-top:10px;
}

.statusText {
	background-color:#fff;
	padding:8px;
	border-radius:6px;
	font-weight:bold;
	line-height:2.4em;
	color:#df1e36;
}

.noStatusText {
	padding:8px;
	border-radius:6px;
	font-weight:bold;
	line-height:2.4em;
	color:#000;
}

.userCheckbox {
	margin-right:18px;
}

.border-top{
	border-top:1px dotted #e1e1e1;
}

.border-top p {
	padding:14px;
}

.no-border {
	border-bottom:none;
}
.text-margins {
	margin:20px auto;
}
p {
	margin: 0 0 20px;
}
.filebox {
	background-color:#fff;
	padding:6px;
	margin-top:-20px;
}
.filebox a {
	display:block;
}

.date-display {
	background-color:#f6f6f6;
	padding:8px;
	border-radius:6px;
	line-height:2.4em;
}

.station {
	background-color:#f6f6f6;
	padding:4px;
	border-radius:6px;
	line-height:2.4em;
	font-size:.8em;
	margin:4px;

}

.border-top {

}

.border-none td{
	border:none!important;
}

li.current a {
	background-color:#df1e36;
	color:#fff;
}